@use '../utils' as u;
h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

h1 {
  /* font-size: 28px;
  @include u.breakpoint(medium) {
    font-size: 36px;
  }
  @include u.breakpoint(large) {
    font-size: 42px;
  } */
  //font-size: 7.5vw; // 28 / 375
  //font-size: calc(16px + 2vw);
  //font-size: clamp(28px, 16px + 2vw, 40px);
  //font-size: clamp(1.75rem, 1rem + 2vw, 2.5rem);  // 28/16  16/16  40/16
  font-size: clamp(u.rem(28), u.rem(16) + 2vw, u.rem(40));

}

h2 {
  //font-size: clamp(22px, 14px + 1.5vw, 36px); 
  //font-size: clamp(1.375rem, 14px + 0.875rem, 2.25rem); // 22/16  14/16  36/16
  font-size: clamp(u.rem(22), u.rem(14) + 1.5vw, u.rem(36));
}
p {
  margin-top: 0;
  font-size: u.rem(16);
}

a,
a:visited,
a:active {
  text-decoration: none;
}